extends layout


block extra-headers
    link(rel='stylesheet', href='/css/exportation.css')
    script.
        var result = "#{JSON.stringify(keyExportedGraph)}";
        result = JSON.parse(result.replace(/(&quot;)/g, '"').replace(/\r/g, ""));

block content

    div#exportation
        div.container
            div.row
                div.col.s3
                div.col.s9#exportation-container
                    div#title-modif= keyExportedGraph.items[0]._spec.encodings[0].field + ' / ' + keyExportedGraph.items[0]._spec.encodings[1].field
                    div#exportedGraph
            div.row
                div.col.s12
                    a.btn.waves-effect.waves-light.right(href="/importation") Je recommence !

    script(src="/js/exportation.js", type="text/javascript")

