extends layout

block extra-headers
    link(rel='stylesheet', href='/css/importation.css')

block content

    div#importation
        div.container
            h1 Importation des données
            div.row
                div.col.s4
                    form#import-form(action="/importation",method="post", enctype="multipart/form-data")
                        div.file-field.input-field
                            div.btn
                                i.material-icons file_upload
                                input#importfile(type="file", name="file", accept=".csv", data-position="left", data-tooltip="Taille maximum 20 Ko").tooltipped
                            div.file-path-wrapper
                            input.file-path.validate(name="importfile",type="text")#file-imported
                        div.col.s12
                            a#btn.btn.waves-effect.waves-light hello
                            button#btnNext.btn.waves-effect.waves-light.right(type="submit") Suivant
                                i.material-icons.right send
                div.col.s6.right#explain-type
                    span Attention nous acceptons que les fichiers
                        b &nbsp; csv
                    span  avec des données qualitatives et quantitatives. D'une taille maximum de 20 Ko.
                    p
                    b Qualitatif :
                    p Un type qualitatif représente des données qui peuvent être nommées. En général des données qualitatives ne peuvent être exprimées par des nombres (ex. marié, célibataire, veuf).
                    b Quantitatif :
                    p représente des données qui peuvent être comptées ou mesurées. En général des données quantitatives sont des nombres (ex. 2 ou 2,4).

    script(src="/js/importation.js", type="text/javascript")