extends layout_index

block content

  div#home.wrapper.bg
      div.container.demo
      h1.vasco-title VASCO
          div.row
            a(href="/importation").waves-effect.waves-light.btn.btn-large.start-btn J'essaye !
  div#about.section.full-section-index
      div.container
          h1 A PROPOS
      div.container
          div.row
              div.col.s2
              div.col.s8.about-section
                p « Le Big Data », de nos jours, ces trois petits mots ressortent très souvent dans nos discutions, à la télévision et dans les journaux. Nous avons de plus en plus de données provenant de diverses ressources telles que les téléphones portables, les réseaux sociaux, les objets connectés qui nous suivent dans notre quotidien. Ces données sont pour la plupart des personnes incompréhensibles. Cependant, il existe déjà des outils tels que D3.js, HighCharts, Plotly, Vega, etc qui permettent de visualiser des données par le biais de graphiques, mais ils sont parfois très complexes à utiliser. Cette problématique nous amène à réaliser ce projet qui a pour but de créer une plateforme publique de visualisation de données qui est facile d’utilisation et de compréhension pour des personnes n’ayant pas de grandes connaissances dans l’analyse de données.
                p Le but de ce projet est de créer une plateforme publique de visualisation de données qui est facile d’accès, d’utilisation et de compréhension pour des personnes n’ayant pas de grandes connaissances dans l’analyse de données.
                p L’utilisateur peut importer des fichiers au format CSV. Les données sont chargées et automatiquement une liste de graphiques est affichée. De plus, il est possible d’exporter les graphiques en SVG, PNG et en JSON.

              div.col.s2
  div#contact.section.full-section-index.white
      div.container
        h1 CONTACT
      div.container
          div.row
              div.col.s6
                  form#contact-form
                      div.input-field.col.s12
                          i.material-icons.prefix person
                          input#contact-name(type="text", name="name", required="required")
                          label(for="contact-name") Nom & Prénom
                      div.input-field.col.s12
                          i.material-icons.prefix email
                          input#contact-email(type="email", name="email", required="required")
                          label(for="contact-email") Email
                      div.input-field.col.s12
                          i.material-icons.prefix edit
                          input#contact-object(type="text", name="object")
                          label(for="contact-object") Sujet
                      div.input-field.col.s12
                          i.material-icons.prefix chat
                          textarea#contact-description(data-length="300", name="description").materialize-textarea
                          label(for="contact-description") Envoyez-nous un messsage
                      div.col.s12
                          button(type="submit").waves-effect.waves-light.btn.right
                              i.material-icons send
              div.col.s6
                  div.row.contact-padding
                      ul
                          li
                              span
                                  i.material-icons.material-icon-vertical-align location_on
                              | Rue Technopole 3
                          li
                              span
                                  i.material-icons.material-icon-vertical-align location_city
                              | 3960 Sierre
                          li
                              span
                                  i.material-icons.material-icon-vertical-align phone_android
                              | 022 000 00 00
                          li
                              span
                                  i.material-icons.material-icon-vertical-align email
                              | info@vasco.ch

