doctype html
html
    head
        title= title
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='/css/lib/materialize.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/color.css')
        link(rel='stylesheet', href='/css/index.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="/js/lib/materialize.min.js", type="text/javascript")

        script(src="/js/index.js", type="text/javascript")
        script(src="/js/layout.js", type="text/javascript")


    body#index-layout
        nav.nav-top
            div.container
                div.nav-wrapper
                    a(href="/").brand-logo.personnal-yellow VASCO
                    a(href="/", data-target="mobile-nav").sidenav-trigger
                        i.material-icons.personnal-yellow menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#about").personnal-yellow.nav-size A PROPOS
                        li
                            a(href="#contact").personnal-yellow.nav-size CONTACT
                        li
                            a(href="/importation").personnal-yellow.nav-size ANALYSER

                ul.sidenav.mobile-nav-color#mobile-nav
                    li
                        a(href="/").personnal-yellow.nav-size HOME
                    li
                        a(href="#about").personnal-yellow.nav-size A PROPOS
                    li
                        a(href="#contact").personnal-yellow.nav-size CONTACT
                    li
                        a(href="/importation").personnal-yellow.nav-size ANALYSER

    block content
    footer.page-footar.color-footer
        div.container © Copyright 2018 projet VASCO