doctype html
html
    head
        title= title
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='/css/lib/materialize.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/layout.css')
        link(rel='stylesheet', href='/css/color.css')



        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js', type="text/javascript")
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js', type="text/javascript")
        script(src="/js/lib/materialize.min.js", type="text/javascript")
        script(src="https://cdn.jsdelivr.net/npm/vega@3")
        script(src="https://cdn.jsdelivr.net/npm/vega-lite@2.4.3")
        script(src="https://cdn.jsdelivr.net/npm/vega-embed@3.14.0")


        script(src="/js/layout.js", type="text/javascript")
        script(src="/js/validate.js", type="text/javascript")


        block extra-headers


    body#home-layout.img
        nav.nav-top
            div.container
                div.nav-wrapper
                    a(href="/").brand-logo.personnal-yellow VASCO
                    a(href="/", data-target="mobile-nav").sidenav-trigger
                        i.material-icons.personnal-yellow menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="/").personnal-yellow.nav-size HOME
                        li
                            a(href="/#contact").personnal-yellow.nav-size CONTACT

                ul.sidenav.mobile-nav-color#mobile-nav
                    li
                        a(href="/").personnal-yellow.nav-size HOME
                    li
                        a(href="/#contact").personnal-yellow.nav-size CONTACT
        div.container
            ol.arrows
                li
                    a(href="/importation") 1. IMPORTATION
                li
                    a(href="/selection") 2. SELECTION
                li
                    a(href="/modification").ignore-click 3. MODIFICATION
                li
                    a(href="/exportation").ignore-click 4. EXPORTATION
    block content
    footer.page-footar.color-footer
        div.container © Copyright 2018 projet VASCO


