extends layout


block extra-headers
    script.
        var results = "#{JSON.stringify(keyResult)}";
        results = JSON.parse(results.replace(/&quot;/g, '"'));


block content

    div#selection
        div.container
            h1 Selection de la visualisation
        div.row.container-selection
            div.col.s4
                div#selection-table
                        table.highlight.responsive-table
                            thead
                                tr
                                    th Dimensions
                                    th Somme
                                    th Type
                            tbody
                                each dim in keyDim
                                    tr
                                        td= dim[0]
                                        td= dim[1]
                                        td= dim[2]
            div.col.s8
                div.row#wrapper
                    each result,index in keyResult
                        div.col.s6.resize-graph
                            div(id="vis"+index)


        div.row
            div.col.s6
            div.col.s2
                a.btn.waves-effect.waves-light.right(href="/importation") Retour
                    i.material-icons.left keyboard_arrow_left
            div.col.s2
                a.btn.waves-effect.waves-light.right(href="/modification") Suivant
                    i.material-icons.right keyboard_arrow_right


    script(src="/js/selection.js", type="text/javascript")
