#exportation-container {

    width: 60%;
    background-color: white;
    left: -1px;
    overflow:scroll;
    padding: 70px 0;
    text-align: center;
}

#title-modif{
    padding-bottom: 30px;
    font-size: 18px;
    font-weight:bold ;
}




/*Style of the writting*/
.vega-embed .vega-actions a {
    padding: 8px 16px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: #434a56;
    text-decoration: none;
}

/*hover when on the button*/
.vega-embed .vega-actions a:hover {
background-color: #f7f7f9;
color: #1b1e23;
}

.vega-actions-wrapper {
    padding-top: 50px;
}








