/*----------------------------DIV WITH GRAPH----------------------------*/
#exportation-container {
    width: 100%;
    background-color: white;
    left: -1px;
    overflow:scroll;
    padding: 70px 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*Title*/
#title-modif{
    padding-bottom: 30px;
    font-size: 18px;
    font-weight:bold ;
}



/*----------------------------VEGA-EMBED----------------------------*/
/*Style of the writting*/
.vega-embed .vega-actions a {
    padding: 8px 16px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    background-color: #434a56;
    border-right: 10px solid ;

}

/*hover on the button*/
.vega-embed .vega-actions a:hover {
background-color: #1b1e23;
}

.vega-actions-wrapper {
    padding-top: 50px;
}

/*hide button "open in vega editor"*/
.vega-actions a:nth-child(4){
    display: none;
}






