/*----------------------------GRAPH----------------------------*/
#modification-container {

    width: 60%;
    background-color: white;
    left: -1px;
    overflow:scroll;
    padding: 70px 0 0 20px;
    text-align: center;
}

#title-modif{
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 18px;
}


/*----------------------------VEGA-EMBED----------------------------*/
.vega-embed .vega-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;

    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #d9d9d9;
    background: white;
}


/*----------------------------COLOR OF RADIOBUTTON----------------------------*/
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #f6e58d;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #f6e58d;
}

/********BUTTON*************/
.btn-size{
    width: 160px;
}
