.container-selection{
    padding-left: 50px;
    padding-right: 50px;
}

/*----------------------------TABLE----------------------------*/
th, td {
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 10px;
    min-height: 5.7em;
}

tr {
    display: block;
    position: relative;
    background-color: #95afc0;
}

/*scrollbar*/
tbody {
    display: block;
    overflow: auto;
    height: 400px;
}

td, th {
    min-width: 8em;
}

#total{
    padding-top: 20px;
    font-size: 18px;
    font-weight:bold ;
}

.single-graph canvas{
    max-width: 120px !important;
}

/*responsive*/
table.responsive-table td {
    min-height: 12em;
}

/*----------------------------VEGA-EMBED----------------------------*/
.vega-embed {
    position: relative;
    padding-right: 38px;
}

.vega-embed .vega-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;

    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #d9d9d9;
    background: white;
}

.vega-embed .vega-actions-wrapper:hover {
    background: transparent;
    color: transparent;
    border: none;
    box-shadow: none;
}

.vega-embed .vega-actions a {
    padding: 8px 16px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: #434a56;
    text-decoration: none;
}

/*----------------------------DIV WRAPPER WITH GRAPH----------------------------*/
.row .col.s6 {
    width: 49%;
}

#wrapper {

    height: 500px;
    background-color: white;
    left: -1px;
    padding: 10px  10px 10px 10px;
    overflow:scroll;
    overflow-x:hidden;
}

.resize-graph{
    overflow: auto;
    height: 350px;
    border-style: solid;
    border-width: thin;
    border-color: lightslategray;
    margin: 2px 2px 2px 2px;
}

#graph-title{
    padding-top: 10px;
    font-size: 12px;
    font-weight:bold ;
}

.graph-padding{
    padding-top: 20px;
}

/*******HOVER SELECTION********/
.hover:hover {
    background-color: #f6e58d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-image:url("/images/icon/check.svg");
}

/*----------------------------WAITING ICON----------------------------*/
#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0; left: 0;
    background: lightslategray;
    opacity: 0.8;
    z-index:9999;
    text-align: center;
    padding-top: 350px;
}

.rotate
{
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/**********BUTTON**********/
.btn-size{
    width: 160px;
}


/*----------------------------COLOR OF DROPDOWN----------------------------*/
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: black;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid black;
}