th, td {
    padding: 20px;
    text-align: left;
}

tr {
    display: block;
    position: relative;
    background-color: #58B19F
}

tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 400px;
}
td, th { min-width: 200px; }