body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #DADFE1;


  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}







h1{
  font-family: "Hiragino Sans";
  font-size: 40px;
}



