body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #DADFE1;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1{
  font-family: "Hiragino Sans";
}



